@model AboutModel

<section>
    <div style="width: 100%;" class="d-flex justify-content-center">
        <img style="width: 20vw;" src="https://i.ibb.co/FmBpmFM/pfp.jpg" alt="">
    </div>
    <h4 style="text-indent: 20px; line-height: 1.6em;">@Model.Content</h4>
    <hr>
    <div>
        <p class="text-center">Useful links:</p>
        <div class="d-flex justify-content-around">
            <a target="_blank" href="@Model.GithubLink">Github</a>
            <a target="_blank" href="@Model.GameLink">Survival Game</a>
        </div>
    </div>
</section>