@model IEnumerable<BlogPost>
@foreach (var m in Model)
{
    <section style="white-space:pre-line;" class="d-flex justify-content-between">
        <div>
            <h3>@m.Title</h3>
            <div>@m.Content</div>
        </div>

        <a href="#" class="delete-action" id-value="@m.Id">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
    </section>
    <hr />

}